<div>
    <h1>Real Time Products</h1>

    <h3>Lista de productos:</h3>

    <table>
        <thead>
            <th>Id</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Codigo</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Status</th>
            <th>Imagen</th>
        </thead>
        <tbody id="realTimeProducts">
            {{#each productos}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.status}}</td>
                    <td><img src="{{this.thumbnail}}" alt="Imagen de {{this.title}}" style="max-width: 100px;"></td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="9">No hay productos disponibles.</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <h2>Agregar producto</h2>
    <!-- Formulario para agregar productos -->
    <form id="agregar_producto">
        <label for="title">Titulo:</label>
        <input type="text" id="title" name="title" required>
        <!-- Otros campos... -->
        <button type="submit">Agregar Producto</button>
    </form>

    <div id="error-message"></div> <!-- Mostrar mensaje de error -->
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
